@import url('https://fonts.googleapis.com/css2?family=Inter&family=Manrope&family=Leckerli+One&display=swap');
@import url('https://realtechnerd.github.io/button.css/style.css');
* {
    outline: none !important;
}
.Container {
    margin-left: 15% !important;
    margin-right: 15% !important;
}
@media only screen and (max-width: 600px) {
    .Container {
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
}
#titlelink {
    text-decoration: none !important;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212 !important;
    }
    .Task {
        background-color: #333 !important;
        color: #fff;
    }
    .dash-nav {
        background-color: #121212 !important;
    }
    .todo-form {
        background: #333 !important;
    }
    .todo-form input {
        background: #121212 !important;
        color: #fff;
    }
    .Loader {
        color: #fff !important;
    }
}