.Loader {
    font-family: Manrope;
    text-align: center;
    padding: 5px;
}
.Loader img {
    width: 10%;
}
@media only screen and (max-width: 600px) {
    .Loader img {
        width: 50% !important;
    }
}